---
import presentation from "../data/presentation";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import ProjectCards from "../components/ProjectCards.astro";
---

<Layout title="MK | Muzamil Khan">
  <main class="flex flex-wrap">
    <div class="w-full sm:w-1/2">
      <article class="flex flex-col gap-7">
        <h3 class="font-bold text-xl text-[#93A3B8]">
          {presentation.position}
        </h3>
        <h1 class="text-5xl text-white font-bold">
          {presentation.title}
        </h1>
        <h2 class="font-medium text-lg max-w-[30ch] text-[#93A3B8] leading-6">
          {presentation.description}
        </h2>
        <h2 class="font-medium text-lg max-w-[30ch] text-[#93A3B8] leading-6">
          {presentation.description2}
        </h2>
        <Skills />
      </article>
    </div>
    <div class="w-full mt-10 sm:mt-0 sm:w-1/2 flex justify-center">
      <ProjectCards />
    </div>
    <div class="flex flex-col gap-7">
      <h3 class="mt-16 font-bold text-lg text-neutral-100 text-white">
        Get in Touch!
      </h3>
      <p class="font-bold text-sm text-[#93A3B8]">
        Email me at <a
          href={`mailto:${presentation.mail}`}
          class="text-sm text-white hover:text-[#93A3B8]"
        >
          {presentation.mail}
        </a>or follow me on my socials
      </p>
      <p class="flex gap-5 text-[#93A3B8]">
        <a
          target="_blank"
          class="cursor-pointer hover:text-[#93A3B8] text-white"
          href="https://www.linkedin.com/in/muzamil-khan-008a33272/">LinkedIn</a
        >
        |
        <a
          target="_blank"
          class="cursor-pointer hover:text-[#93A3B8] text-white"
          href="https://github.com/mkha101">Github</a
        >
      </p>
    </div>
  </main>
</Layout>
