---
import JS from "../images/JS.png";
import React from "../images/react.png";
import TW from "../images/twcss.png";
import TS from "../images/ts.png";
import MYSQL from "../images/mysql.png";
import NEXT from "../images/next.png";
---

<section class="flex flex-row flex-wrap max-w-[60ch] gap-1">
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    ><img class="" src={JS} />JavaScript</span
  >
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    ><img class="" src={React} />React</span
  >
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    >SQL Server</span
  >
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    ><img class="" src={TW} />Tailwind CSS</span
  >
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    ><img class="" src={TS} />TypeScript</span
  >
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    ><img class="" src={MYSQL} />MySQL</span
  >
  <span
    class="hover:bg-[#79889b] transition ease-in-out cursor-pointer flex flex-row gap-1 justify-center items-center bg-[#1e2631] text-white px-8 py-2 rounded-lg"
    ><img class="" src={NEXT} />Next.js</span
  >
</section>
